
.header{
    @include grid-header(5 ,1, 0rem);
    background-color: black;
}
    .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
    .link{
        font-family: 'Montserrat', sans-serif;
        font-size: $font-sm;
        color:$color-secondary;
        background-color: $color-primary;
        border: 0.5rem solid $color-primary;
        border-radius: 3rem;
        transition: all .1s ease-in-out;
    &:hover{
        font-size: $font-md;
        background-color: #8B43C1;
        border: 0.3rem solid #8B43C1;
    }
}


