
.header{
    @include grid-header(5 ,1, 0rem);
    background-color: $color-secondary;
}
    .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
    .link{
        font-family: 'Montserrat', sans-serif;
        padding: 0.5rem;
        font-size: $font-sm;
        color:$color-secondary;
        background-color: $color-primary;
        border-radius: 3rem;
        transition: all .1s ease-in-out;
    &:hover{
        font-size: 1.3rem;
        background: linear-gradient(76deg, #FF54FF 0%, #6D32FF 100%);
    }
}


