
@mixin grid-header ($columnas, $espacio) {

    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}

@mixin posicion ($justify ,$align) {
    display:flex;
    justify-content:$justify;
    align-items:$align;
}
