.section__duki{
    @include grid-header (2,2, 0rem);
    &--div{
        display:flex;
        justify-content: center;
    }
    &--img{
        width: 68%;
        margin:1rem 0rem 1rem 0rem;
        border:#000000 solid 0.5rem;
        border-radius: 2rem;
    }
}