/* UTILIDADES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  background-image: url(./.././assets/images/duki_web_2_edited.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding-bottom: 15vh; }

html {
  scroll-behavior: smooth; }

/* COLORES */
/* FUENTES */
/* TAMANIOS DE FUENTE*/
/* BREAKPOINTS */
/* PAGINAS */
.main {
  width: auto;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-self: center; }
  .main__article {
    justify-content: center;
    align-self: center; }
    .main__article--parrafo {
      font-family: 'Raleway', sans-serif;
      color: white;
      font-size: 3rem; }

span {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-bottom: 1rem;
  font-size: 5rem;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.section .article {
  margin-top: 2rem; }
  .section .article__title {
    display: flex;
    justify-content: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 3rem;
    background-color: #000000;
    border-radius: 3rem; }
  .section .article__text {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 1.8rem;
    padding: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 2.8vh; }
  .section .article__subtitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 3rem; }

.section__duki {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0rem; }
  .section__duki--div {
    display: flex;
    justify-content: center; }
  .section__duki--img {
    width: 68%;
    margin: 1rem 0rem 1rem 0rem;
    border: #000000 solid 0.5rem;
    border-radius: 2rem;
    transition: all .1s ease-in-out; }
    .section__duki--img:hover {
      width: 70%; }

.section__music {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem; }
  .section__music .article__music {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.section__video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem; }
  .section__video .article__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section__video .article__video .video {
      width: 75%;
      border-radius: 1.5rem; }

.article__subtitle {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 2.2rem;
  padding: 0.5rem;
  background-color: #000000;
  border-radius: 2rem;
  margin: 1rem; }

.article__title {
  display: flex;
  justify-content: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 3rem;
  background-color: #000000;
  border-radius: 3rem;
  margin: 1rem; }

.section__form {
  width: 24rem;
  background: #000;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "raleway" ,sans-serif;
  border-radius: 1rem;
  border: 0.3rem solid #5603b4; }
  .section__form--title {
    color: white;
    font-size: 3rem;
    padding: 2rem; }
  .section__form--input {
    background-color: #000;
    border: solid #5603b4;
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 0.4rem;
    font-size: 1rem;
    font-family: "raleway" ,sans-serif;
    color: white; }
  .section__form--btn {
    margin-top: 0.9rem;
    padding: 0.3rem;
    color: white;
    background-color: #7405a8;
    border: solid #5603b4;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: "raleway" ,sans-serif; }

/* LAYOUT */
.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem;
  background-color: #000000; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.link {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: white;
  border-radius: 3rem;
  transition: all .1s ease-in-out; }
  .link:hover {
    font-size: 1.3rem;
    background: linear-gradient(76deg, #FF54FF 0%, #6D32FF 100%); }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-template-areas: "n1 n2 n3" "n4 n4 n4"; }
  .footer__div--link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    padding-top: 0.8rem; }
  .footer__parrafo {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #929292;
    text-align: center; }

.footer__div1 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  grid-area: n1; }

.footer__div2 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  grid-area: n2; }

.footer__div3 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  grid-area: n3; }

.footer__div4 {
  display: flex;
  justify-content: center;
  background-color: #000000;
  grid-area: n4; }

/* ----------DISENO RESPONSIVE----------*/
/* EXTRA SMALL*/
@media screen and (max-width: 576px) {
  body {
    background-image: url(./.././assets/images/duki-responsive.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
    .header .link {
      font-size: 1.4rem; }
  .navbar {
    padding: 0.4rem; }
  .footer__div--link {
    font-size: 1rem; }
  .footer__parrafo {
    font-size: 1rem; }
  .main .span {
    font-size: 2.2rem;
    margin: 0rem 1rem 1.3rem 1rem; }
  .main__article--parrafo {
    font-size: 2rem;
    margin: 0rem 1rem 0rem 1rem; }
  .section__duki {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0rem; }
  .section__music {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
  .section__video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0rem; }
  .section__form {
    width: 20rem;
    margin-bottom: 3rem; }
    .section__form--title {
      font-size: 2.2rem; }
  .article .article__title {
    font-size: 1.8rem; }
  .article__title {
    font-size: 1.8rem; } }

/* SMALL*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    background-image: url(./.././assets/images/duki-responsive-2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
    .header .link {
      font-size: 1.4rem; }
  .navbar {
    padding: 0.4rem; }
  .footer__div--link {
    font-size: 1rem; }
  .footer__parrafo {
    font-size: 1rem; }
  .main .span {
    font-size: 3.4rem;
    margin: 0rem 1rem 0rem 1rem; }
  .main__article--parrafo {
    font-size: 3rem;
    margin: 0rem 1rem 0rem 1rem; }
  .section__duki {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0rem; }
  .section__music {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
  .section__video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0rem; }
  .section__form {
    width: 30rem;
    margin-bottom: 1rem; }
    .section__form--title {
      font-size: 2.2rem; }
  .article .article__title {
    font-size: 1.8rem; } }

/* MEDIUM*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
    .header .link {
      font-size: 1.4rem; }
  .navbar {
    padding: 0.4rem; }
  .footer__div--link {
    font-size: 1rem; }
  .footer__parrafo {
    font-size: 1rem; }
  .main .span {
    font-size: 3.4rem;
    margin: 0rem 1rem 0rem 1rem; }
  .main__article--parrafo {
    font-size: 3rem;
    margin: 0rem 1rem 0rem 1rem; }
  .section__duki {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0rem; }
  .section__music {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem; }
  .section__video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0rem; }
  .section__form {
    width: 30rem;
    margin-bottom: 1rem; }
    .section__form--title {
      font-size: 2.2rem; }
  .article .article__title {
    font-size: 1.8rem; } }

/* LARGE*/
/* EXTRA LARGE*/
